<form id="signinForm" {{action "onSubmit" on="submit"}}>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="email">Email Address</label>
            {{input id="email" type="email" class="form-control" value=email placeholder="Email Address"}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="password">Password</label>
            {{input id="password" type="password" class="form-control" value=password placeholder="password"}}
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <br>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>
