<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">JSONAPI</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item">{{user.email}}</li>
      <li class="pure-menu-item">{{#link-to 'tracker.accounts' class="pure-menu-link"}}Accounts{{/link-to}}</li>
      <li class="pure-menu-item">{{#link-to 'tracker.sync' class="pure-menu-link"}}Repo sync{{/link-to}}</li>
      <li class="pure-menu-item">{{#link-to 'tracker.projects' class="pure-menu-link"}}Projects{{/link-to}}</li>
      <li class="pure-menu-item">{{#link-to 'tracker.repositories' class="pure-menu-link"}}Repositories{{/link-to}}</li>
      <li class="pure-menu-item">{{#link-to 'tracker.issues' class="pure-menu-link"}}Issues{{/link-to}}</li>
      <li class="pure-menu-item">{{#link-to 'tracker.timers' class="pure-menu-link"}}Timers{{/link-to}}</li>
    </ul>
  </div>
</div>
