    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                {{#link-to 'index' class="navbar-brand"}}Ember Blog{{/link-to}}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    <li>
                        {{#link-to 'user.profile' user.username}}{{user.username}}{{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'user.posts' user.username}}My Posts{{/link-to}}
                    </li>
                     <li>
                        {{#link-to 'post.new'}}+Post{{/link-to}}
                    </li>
                    {{else}}
                    <li>
                        {{#link-to 'auth.signin'}}Sign in{{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'auth.signup'}}Sign up{{/link-to}}
                    </li>
                    {{/if}}
                    <li>
                        {{#link-to 'single' 'how-to-solve-the-biggest-problems-with-cupcakes'}}Sample Post{{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'contact'}}Contact{{/link-to}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
