    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>About</h1>
                        <h2 class="subheading">More information on this project</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading">Caution!</h2>
                    <p>This baby-blog-engine - both its frontend and backend code - and the JSONAPI library they rely on - <a href="https://github.com/bhubr/jsonapi-express-backend">jsonapi-express-backend</a> - are best viewed as <em>toy projects</em> as of now (updated on <strong>July 19th, 2017</strong>).</p>
                    <p>The JSONAPI lib is usable: by this I mean that you can create an Ember app, your models definition based on the <code>models.js</code> in the demo backend code... and it should work. Then there are a lot of issues to be fixed, so it is nowhere near production ready. You've been warned!</p>

                    <h2 class="section-heading">Motivation</h2>
                    <p>I discovered <a href="https://emberjs.com/" target="_blank">Ember</a> quite a while ago (2012), when it was still pre-1.0, and the API (especially Ember Data's) was changing at a fast pace.</p>
                    <p>Back in time, I started building a carpooling app based on <a href="https://sailsjs.com/" target="_blank">Sails</a> and Ember. Sails is quite a good framework, but it didn't play well with Ember Data out-of-the-box. You had to use a 3rd-party module.</p>
                    <p>Since then, Ember has evolved pretty much, and Ember Data uses <a href="http://jsonapi.org/">JSON API adapter</a> by default. My goal is to implement a <strong>simple</strong>, easy-to-use JSON API backend, especially for use with Ember.</p>

                    <h2 class="section-heading">Enough talk! Show me the code!</h2>
                    <p><strong>Disclaimer:</strong> both the frontend code and the backend code it relies on are young projects. A part of the backend code is tested, but not all (BAD man!). Some things in the backend might be modified as I add new features. I will document the changes as much as I can.</p>
                    <p>The backend code for this blog can be found at <a href="https://github.com/bhubr/jsonapi-express-backend-demo" target="_blank">https://github.com/bhubr/jsonapi-express-backend-demo</a>. Feel free to clone it, and be sure to <em>carefully</em> follow the installation instructions (it's pretty easy as you'll see).</p>
                    <p>The backend is based on my <a href="https://www.npmjs.com/package/jsonapi-express-backend" target="_blank">jsonapi-express-backend</a> module, of which code is at <a href="https://github.com/bhubr/jsonapi-express-backend" target="_blank">https://github.com/bhubr/jsonapi-express-backend</a>.</p>
                    <p>The frontend code can be found at <a href="https://github.com/bhubr/ember-blog" target="_blank">https://github.com/bhubr/ember-blog</a>.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
