{{!-- The following component displays Ember's default welcome message. --}}
{{main-nav user=model.user}}

{{!-- Feel free to remove this! --}}

<div class="container">
  <div class="section">
    {{outlet}}
  </div>
</div>


<div class="footer l-box is-center">
  <div class="footer-copyright">
    <div class="container">
    Made by <a target="_blank" class="purple-text text-lighten-3" href="https://bhubr.eu">Benoît Hubert</a>
    with <a target="_blank" class="purple-text text-lighten-3" href="http://expressjs.com">Express</a>,
    <a target="_blank" class="purple-text text-lighten-3" href="https://emberjs.com/">Ember</a> and
    <a target="_blank" class="purple-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</div>
